<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="net.chouppy.tarzhiou.android" android:versionCode="1"
	android:versionName="1.0">
	<uses-sdk android:minSdkVersion="7" android:targetSdkVersion="7" />
	<uses-library>
		android:name="LibTarzhiouAndroid"
		android:required="true"
    </uses-library>

	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:debuggable="true">
		<activity android:name=".TarzhiouPlayground">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"></action>
				<category android:name="android.intent.category.LAUNCHER"></category>
			</intent-filter>
		</activity>


	</application>
</manifest>